@import "urlImageBase64.scss";

.static-button-change {
	background-image: url($imageBtnChange);
	background-size: 221px 78px;
}
.static-tick {
	background-image: url($imageStatis);
	background-size: 35px 34px;
}
.static-background-gray {
	background-image: url($imageBgGray);
	background-size: 998px 375px;
}
.static-qatar {
	background-image: url($imageQatar);
	background-size: 350px 103px;
}
.static-user-bg {
	background-image: url($imageUserBg);
	background-size: 418px 283px;
}
.static-back {
	background-image: url($imageBack);
	background-size: 93px 76px;
}
.static-biblioglobus_logo {
	background-image: url($imageBGLogo);
	background-size: 260px 49px;
}
.static-emirates {
	background-image: url($imageEmirates);
	background-size: 350px 240px;
}
.static-sandglass {
	background-image: url($imageSandglass);
	background-size: 253px 253px;
}
.static-button-close {
	background-image: url($imageBtnClose);
	background-size: 71px 72px;
}
.static-confirm {
	background-image: url($imageConfig);
	background-size: 312px 79px;
}
.static-print-i {
	background-image: url($imagePrintI);
	background-size: 22px 22px;
}
.static-deck_act {
	background-image: url($imageDescAct);
	background-size: 183px 86px;
}

.static-russia {
  background-image: url($imageRussia);
  background-size: 740px 126px;
}

.static-russia-small {
  background-image: url($imageRussiaSmall);
  background-size: 352px 60px;
}

.static-redwings {
  background-image: url($imageRedwings);
  background-size: 600px 288px;
}

.static-redwings-small {
  background-image: url($imageRedwingsSmall);
  background-size: 300px 135px;
}


.static-print-med {
	background-image: url($imagePrintMed);
	background-size: 29px 29px;
}
.static-deck_ina {
	background-image: url($imageDescIna);
	background-size: 182px 85px;
}
.static-emirates-small {
	background-image: url($imageEmiratesSmall);
	background-size: 506px 172px;
}
.static-transaero {
	background-image: url($imageTransaero);
	background-size: 350px 161px;
}
.static-transaero-small {
	background-image: url($imageTransaeroSmall);
	background-size: 347px 58px;
}
.static-print-a {
	background-image: url($imagePrintA);
	background-size: 22px 23px;
}
.static-button-print-all {
	background-image: url($imageBtnPrintAll);
	background-size: 275px 78px;
}
.static-button-complete {
	background-image: url($imageBtnCompete);
	background-size: 220px 78px;
}
